<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                 xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
                 bootstrap="tests/bootstrap.php"
                 colors="true"
                 verbose="true">
    <testsuites>
        <testsuite name="html">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory suffix=".php">src/Ksfraser/HTML/archived</directory>
            <directory suffix=".php">src/Ksfraser/HTML/CSS/Examples</directory>
            <file>src/Ksfraser/HTML/class.VIEW.php</file>
            <file>src/Ksfraser/HTML/FaUiFunctions.php</file>
            <file>src/Ksfraser/HTML/Elements/HtmlInternalCSSListList.php</file>
        </exclude>
    </coverage>
</phpunit>
